$quote-inline-width: 350px;

.quote-inline-wrap-article-content {
  max-width: 100%;
  position: relative;
}

.quote-inline-wrap {
  float: left;
  max-width: $quote-inline-width;
  padding: 0 1rem 1rem 0;

  .quote-inline-marks {
    font-size: 100px;
    color: $dark-gray;
    line-height: 16px;
  }

  .quote-inline-testimonial {
    border-radius: 5px;

    p {
      font-weight: 300;
    }
  }

  .quote-inline-person {
    margin-bottom: 25px;

    .quote-inline-photo img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      float: left;
      margin-right: 15px;
    }

    p {
      position: relative;
      top: 5px;

      &:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
      }

      &:nth-child(3) {
        font-size: 14px;
        font-weight: 400;
        color: $dark-gray;
      }
    }
  }

  @include breakpoint(medium down) {
    width: 100%;
    float: none;
    display: block;
  }
}
