$page-spacing: 3rem;

.page-container {
  margin-top: $page-spacing;
}

.card-container {
}


.scroll-container {
  @include breakpoint(medium down) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw;
  }
}

.page-background-alt {
  background: $light-blue;
}