$page-spacing: 3rem;

.page-container {
  margin-bottom: $page-spacing;
  margin-top: $page-spacing;
}

.card-container {
  margin-bottom: $page-spacing;
}


.scroll-container {
  @include breakpoint(small only) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw;
  }
}