$gray: #808080;
$white: #fff;
$highlight: #4ec6cd;
$nav-text-color: $gray;



h4 {

  @media screen and (max-width: 39.9375em) {
    font-size: 1.5rem;
  }
}

p {
  color: $gray;
}

.title-bar {
  background: lighten($gray, 40%);

  .title-bar-left li {
    font-size: 1.5rem;

    .fa {
      color: $gray;
      margin-right: -.7rem;
    }
  }

  .title-bar-right {
    button {
      margin-right: 1rem;
    }

    .menu-icon::after {
      padding-right: 1.5rem;
      background: $highlight;
      box-shadow: 0 7px 0 $highlight, 0 14px 0 $highlight;
     }
  }
}

.main-nav {
  padding: 1rem;
  background-color: lighten($gray, 40%);

   &.is-stuck {
    width: 100%;
    box-shadow: 0px 4px 10px -2px rgba(128,128,128,0.68);
   }

   a {
     color: $gray;
     font-size: .8rem;

     &:hover {
       color: darken($nav-text-color, 25%);
       transition: color .3s ease-in;
     }
  }

   @media screen and (max-width: 39.9375em) {

    .menu li a {
       font-size: 1.5rem;
       padding: 1.5rem;
       color: $highlight;
     }

     li {
        border-bottom: 3px solid lighten($nav-text-color, 40%);

        &:last-of-type {
         border-bottom: 0;
       }
     }

     .main-nav-left {
       width: 100%;

       .menu.vertical a {
        justify-content: center;
       }
     }
   }

  .main-nav-right {
    a {
      padding-right: .1rem;
    }
  }

  i.fa {
    font-size: 1.3rem;
    color: $gray;

       &:hover {
       color: darken($nav-text-color, 25%);
       transition: color .3s ease-in;
     }
  }
}
