.card-profile {
  border: 1px solid #cacaca;
  margin: 0 0 1.25rem;
  padding: 1.25rem;
	
  .card-profile__intro {
    text-align: center;
		
    .card-profile__intro-pic {
      border-radius: 50%;
      margin: 0 0 1.25rem;
    } // .card-profile__intro-pic

    .card-profile__intro-content {
      p:last-child {
        margin: 0;
      } // p:last-child
    } // .card-profile__intro-content
  } // .card-profile__intro
	
  .card-profile__stats {
    text-align: center;
		
    .card-profile__stat {
      margin: 0 0 1.25rem;

      p:last-child {
        margin: 0;
      }
    } // .card-profile__stat
  } // .card-profile__stats
	
  .card-profile__more {
    .more-link {
      margin: 0;
      text-align: center;
    } // .more-link
		
    .card-profile__more-content {
      display: none;
    } // .card-profile__more-content
  } // .card-profile__more
} // .card-profile



/* Large and up */
@media screen and (min-width: 64em) {
	
  .card-profile {
    .card-profile__intro {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
			
      .card-profile__intro-pic {
        margin: 0 1.25rem 0 0;
        max-width: 250px;
      } // .card-profile__intro-pic
    } // .card-profile__intro
		
    .card-profile__stats {
      display: flex;
      justify-content: space-around;
    } // card-profile-stats
  } // .card-profile
	
} // media query - large & up
