.ecommerce-header {
  width: 100%;
  background-color: $white;
  padding: 1rem 1rem 0;
  
  .logo {
    height: 50px;
    width: 160px;
  }
  
  ul {
    background-color: $white;
  }
  
  li {
    display: inline-block;
  }
  
  .nav-links {
    margin-left: 15px;
  }
  
  a {
    color: $dark-gray;
    transition: color 0.5s ease;
    display: block;
  }
  
  a:hover {
    color: darken($dark-gray, 50%);
    transition: color 0.5s ease;
  }

  input {
    margin-right: 0px;
    
    @include breakpoint(large down) {
      width: 150px;
    }
  }
  
  &.top-bar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .button.search-button {
    width: 39px;
    height: 39px;
    background-size: 20px 20px;
    background-image: url("http://placehold.it/20x20");
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0px;
  }

  .menu > .main-nav-link > a {
    padding: 1.5em 0.85em 1.9em 0.85em;
  }
}


.ecommerce-header-mobile {
  width: 100%;
  background-color: darken($dark-gray,20%);
  height: 40px;
  padding: 8px 20px 10px 20px;
}

.ecommerce-header-mobile-message {
  color: lighten($dark-gray, 100%);
  float: left;
}

.ecommerce-header-mobile-links {
  color: lighten($dark-gray, 100%);

  ul li {
    display: inline;
    padding-left: 20px;
  }

  a {
    color: lighten($dark-gray, 50%);
    transition: color 0.5s ease;
  }

  a:hover {
    color: lighten($dark-gray, 100%);
    transition: color 0.5s ease;
  }
}

