$code-button-bg: rgba(0, 67, 91, 0.08);

.code-menu {
  width: auto;
}

.code-menu-item {
  background-color: $code-button-bg;
  border-radius: 2px;
  margin: 10px 5px;
  padding: rem-calc(15);
  margin: 10px 3px;



  a {
    color: $dark-blue;
    font-size: rem-calc(18);
    font-weight: $global-weight-bold;
    text-transform: uppercase;
  }
}
