.building-block-header {
  margin-bottom: $global-margin;
}

.building-block-tag {
  &:last-child {
    &:after {
      content: ' ';
    }
  }

  &:after {
    content: ',';
  }
}

.bb-media-button {
  * {
    &:hover {
      fill: $dark-blue;
    }
  }
}
