.building-block-iframe {
  position: absolute; /* To fix iframe's hight in Edge */
  display: block;
  width: 100%;
  min-height: 100%; /* To fix iframe's hight in Edge */
}

.building-block-iframe-wrapper {
  position: relative; /* To fix iframe's hight in Edge */
  min-height: 480px;
}
