$code-button-bg: rgba(0,67,91,0.08);

.code-menu {
  width: auto;
}

.code-menu-item {
  padding: 0.5rem;
  margin: 10px 3px;
  background-color: $code-button-bg;
  border-radius: 2px;

  a {
    color: $dark-blue;
    font-size: rem-calc(18);
    font-weight: $global-weight-bold;
    text-transform: uppercase;
  }
}
