.building-block-header {
  margin-bottom: $global-margin;
}

.building-block-tag {
  color: $dark-blue;

  &:last-child {
    &:after {
      content: ' ';
    }
  }

  &:after {
    content: ',';
  }
}

.bb-media-stats {
  font-weight: $global-weight-semibold;
  color: $dark-gray;
  font-size: rem-calc(16);
}
