button {
  cursor: pointer;
}

.button {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border: 0;
  font-weight: $global-weight-bold;
}

.button.secondary {
  box-shadow: none;
  border: 2px solid $dark-blue;
  color: $dark-blue;
  background: none;
  &:hover {
    background: $light-blue;
    color: $dark-blue;
  }
}