.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  width: 100%;
  margin-bottom: rem-calc(25);
}

.card-title {
  color: $dark-blue;
  font-size: rem-calc(18);
  font-weight: $global-weight-semibold;
  text-transform: uppercase;
}

.card-building-block {
  height: rem-calc(347);
}

.card-divider {
  align-items: center;
  display: flex;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  .button {
    margin-bottom: 0;
  }
}

.card-actions {
  align-items: center;
  display: flex;
  vertical-align: baseline;

  span {
    color: $medium-gray;
    font-size: rem-calc(12);
    font-weight: $global-weight-bold;
    margin-left: 5px;
  }

  .card-views {
    margin-right: rem-calc(22);
  }
}

.card hr {
  margin: 0;
}

.card-img {
  flex: 1 0 auto;
  position: relative;
}

// card fonts and text styles
.card-category {
  color: $dark-blue;
  font-size: rem-calc(12);
  font-weight: $global-weight-semibold;
  position: absolute;
  right: rem-calc(12);
  text-transform: lowercase;
  top: rem-calc(12);
}

.card-author {
  color: $medium-gray;
  font-size: rem-calc(12);
  font-weight: $global-weight-semibold;
  text-transform: capitalize;
}

@mixin transition($transition) {
  transition: $transition;
}

@mixin transition-delay($delay) {
  transition-delay: $delay;
}

.hover-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .card-imghover-overlay::after {
    @include transition(opacity 0.2s ease-out);
    @include transition-delay( 0.25s);

    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: $dark-blue;
    content: 'Preview';
    display: flex;
    font-size: rem-calc(41);
    font-weight: $global-weight-bold;
    height: rem-calc(257);
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 80;
  }

  &:hover .card-imghover-overlay::after {
    opacity: 1;
    @include transition(opacity 0.2s ease-out);
  }

  &:hover .card-hover-link {
    opacity: 1;
    @include transition(opacity 0.2s ease-out);
  }

  .card-hover-link {
    @include transition(opacity 0.2s ease-out);
    @include transition-delay( 0.25s);

    align-items: center;
    background-color: $white;
    bottom: 0;
    color: $dark-gray;
    display: flex;
    font-size: rem-calc(18);
    font-weight: $global-weight-bold;
    height: rem-calc(90);
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-transform: capitalize;
    width: 100%;
    z-index: 80;
  }
}
