$code-button-bg: rgba(0, 67, 91, 0.08);

.code-menu {
  width: auto;
}

.code-menu-item {
  margin: 10px 5px;
  padding: rem-calc(5) rem-calc(20);

  a {
    color: $medium-gray;
    font-size: rem-calc(18);
    font-weight: $global-weight-bold;
    text-transform: uppercase;
  }

  &.is-active {
    background-color: $code-button-bg;
    border-radius: 2px;

    a {
      color: $dark-blue;
    }
  }
}

.code-box {
  background-color: $pale-blue;
  border-bottom: 1px solid $medium-gray;
  border-left: 1px solid $medium-gray;
  border-top: 1px solid $medium-gray;
  display: none;
  height: 400px;
  overflow: scroll;
  padding: 1rem;
  position: relative;
  z-index: 0;

  //highlight js override
  code {
    background: transparent;
    border: 0;
  }

  pre {
    position: relative;
  }

  &.is-active {
    display: block;
  }
}

.code-block-toggle {
  display: none;

  &.is-active {
    display: block;
  }
}

.code-toggler {
  font-size: rem-calc(14);
  font-weight: $global-weight-bold;
  margin-right: 0.2rem;
  padding: 0.8rem 1rem;
  text-transform: uppercase;

  &.is-active {
    background: $code-button-bg;
  }
}
