.building-block-description {
  background: $blue-gray-transparent;
  bottom: 0;
  color: $medium-blue;
  font-weight: $global-weight-semi-bold;
  padding-top: rem-calc(15);
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}
