.kit-header {
  background-attachment:fixed;
  background-color: $dark-blue;
  background-image: url("../../assets/img/images/kit-background-ex.png");
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: 80vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include breakpoint(medium only) {
    background-size: 90vw;
    height: 40vh;
  }

  @include breakpoint(small only) {
    background-size: 95vw;
    height: 25vh;
  }
}

.kit-details {
  background: $white;
  padding: $page-spacing;
}

.kit-details-summary {
  color: $dark-blue;
}

.kit-details-action {
  @include breakpoint(small only) {
    width: 100%;
  }

}
.kit-details-header {
  margin-bottom: 3rem;
}

.kit-details-header-text {
  display: flex;
  align-items: center;

  @include breakpoint(small only) {
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .kit-details-header-text-heading {
  color: $dark-blue;
  font-size: rem-calc(23);
  font-weight: $global-weight-bold;
  margin-bottom: 0;
  }
}

.kit-details-search {
  border-radius: 500px;
  background-color: darken($pale-blue, 5%);
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.kit-details-search-text {
  margin-right: 1rem;
  color: $dark-blue;
}

.kit-details-search-icon {
  width: 0.8rem;

  * {
    fill: $dark-blue;
  }
}