.building-block-header {
  margin-bottom: 2rem;

  .bb-dropdown-pane {
    margin-top: 2rem;
    padding-bottom: 0;
    width: auto;

    strong {
      color: $dark-blue;
      font-size: rem-calc(14);
    }

    p {
      color: $dark-gray;
    }
  }
}

.building-block-tag {
  color: $dark-blue;

  &:last-child {
    &::after {
      content: ' ';
    }
  }

  &::after {
    content: ',';
  }
}

.bb-media-stats {
  color: $dark-gray;
  font-size: rem-calc(16);
  font-weight: $global-weight-semibold;
}
