.filter-nav {
  align-items: flex-start;
  margin-bottom: $global-margin;

  .filter-nav-button {
    padding: rem-calc(20);
    width: rem-calc(120);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-gray;

    img {
      margin-bottom: 1rem;
    }

    &.active {
      background: $light-gray;
    }

    &:hover {
      background: $light-blue;
    }

    span {
      font-size: rem-calc(14);
      font-weight: $global-weight-semibold;
    }

    .search-icon {
      margin-top: $global-margin;
    }
  }
}

.dropdown-filters {

  .menu > li {
    flex: 1 0 auto;
    justify-content: space-between;

    a {
      background: $light-gray;
      color: $body-font-color;
    }
  }

  .dropdown.menu .is-dropdown-submenu-parent > a {
    text-transform: capitalize;
  }

  .dropdown.menu .is-dropdown-submenu-parent > a:after {
    content: '';
    @include css-triangle(6px, $body-font-color, down);
    top: 60%;
    right: 1rem;
  }
}
