.filter-nav-container {
  @include breakpoint(small only) {
    display: none;
  }
}

.filter-nav {
  align-items: flex-start;
  margin-bottom: $global-margin;
  position: relative;

  .bb-search-button {
    display: flex;
    padding: rem-calc(30) 0 rem-calc(30) rem-calc(30);

    .bb-search-icon {
      height: 30px;
      width: 30px;
    }

    &:hover {
      .bb-search-icon {
        * {
          fill: $dark-blue;
        }
      }
    }
  }

  .filter-nav-button {
    align-items: center;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    padding: rem-calc(20);
    width: rem-calc(100);

    &.active {
      background: $light-blue;
      color: $dark-blue;

      .bb-filter-icons {
        * {
          fill: $dark-blue;
        }
      }
    }

    &:hover {
      background: $light-blue;
      color: $dark-blue;

      .bb-filter-icons {
        * {
          fill: $dark-blue;
        }
      }
    }

    span {
      font-size: rem-calc(14);
      font-weight: $global-weight-semibold;
    }
  }
}

.bb-filter-icons {
  height: 36px;
  margin-bottom: 1rem;
  width: 36px;
}

.bb-search-bar-container {
  @include vertical-center;

  background-color: white;
  display: none;
  height: rem-calc(106);
  margin: 0 auto;
  max-width: $global-width;
  width: 100%;

  .close-button {
    @include vertical-center;

    color: $medium-gray;
  }

  .bb-search-bar {
    @include vertical-center;

    background-color: $white;
    border: 0;
    border-bottom: 1px solid $medium-gray;
    box-shadow: none;
    color: $dark-gray;
    font-size: rem-calc(24);
    height: rem-calc(55);

    &:focus {
      border: 0;
      border-bottom: 1px solid $dark-blue;
      box-shadow: none;
    }
  }
}

.filter-nav-dropdown {
  position: relative;
  z-index: 1;

  .dropdown {
    border-radius: rem-calc(3);
  }

  .menu {
    border: 1px solid $light-gray;
    border-radius: rem-calc(3);
    width: auto;
  }

  .menu > li {
    flex: 1 0 auto;
    justify-content: space-between;

    a {
      background: $light-gray;
      color: $dark-blue;
    }
  }

  .is-dropdown-submenu {
    border-top: 1px solid $light-gray;
    margin: -1px 0 0 -1px;
    min-width: rem-calc(170);

    li > a {
      color: $dark-blue;

      &:hover {
        background: $medium-gray;
      }
    }
  }

  .dropdown.menu .is-dropdown-submenu-parent > a {
    text-transform: capitalize;
  }

  .dropdown.menu .is-dropdown-submenu-parent > a:after {
    @include css-triangle(6px, $dark-blue, down);

    content: '';
    right: 1rem;
    top: 60%;
  }
}
