<div class="building-block-code">
  <!-- Code Menu -->
  <div class="flex-container align-center">
    <ul class="code-menu menu">
      <li class="code-menu-item is-active" data-toggle-HTML>
        <a href="#">HTML</a>
      </li>
      <li class="code-menu-item is-active" data-toggle-SCSS>
        <a href="#">SCSS</a>
      </li>
      <li class="code-menu-item" data-toggle-JS>
        <a href="#">JS</a>
      </li>
    </ul>
  </div>

  <!-- Code Preview -->
  <div class="row expanded">
    <div id="codeBoxHTML" class="column code-box is-active">
      <button class="button docs-code-copy" data-clipboard-target="#copyHTML">Copy</button>
{{#code "html"}}
{{{bb-html page}}}
{{/code}}
    </div>
    <div id="codeBoxSCSS" class="column code-box is-active">
      <button class="button docs-code-copy" data-clipboard-target="#copySCSS">Copy</button>
      <button class="code-toggler is-active" id="scssToggle">SCSS</button>
      <button class="code-toggler" id="cssToggle">CSS</button>

      <div class="code-block-toggle is-active" id="codeBoxSCSS" data-toggler=".is-active">
{{#code "scss"}}
{{{bb-scss page}}}
{{/code}}
      </div>
      <div class="code-block-toggle" id="codeBoxCSS">
{{#code "css"}}
{{{bb-css page}}}
{{/code}}
      </div>
    </div>
    <div id="codeBoxJS" class="column code-box">
      <button class="button docs-code-copy" data-clipboard-target="#copyJS">Copy</button>
    </div>
  </div>
</div>
