<div class="building-block-code">
  <!-- Code Menu -->
  <div class="flex-container align-center">
    <ul class="code-menu menu">
      <li class="code-menu-item">
        <a href="#">HTML</a>
      </li>
      <li class="code-menu-item">
        <a href="#">SCSS</a>
      </li>
      <li class="code-menu-item">
        <a href="#">JS</a>
      </li>
    </ul>
  </div>

  <!-- Code Preview -->
  <div class="row expanded collapse">
    <div class="column code-box">
      {{bb-html page}}
    </div>
    <div class="column code-box hide-for-small-only">
      <p>CSS</p>
    </div>
    <div class="column code-box hide-for-small-only">
      <p>JS</p>
    </div>
  </div>
</div>
