$gray: #808080;
$white: #fff;
$highlight: #4ec6cd;
$nav-text-color: $gray;
$header-font:'Sanchez',
serif;
$vert-seperate: 4rem;

h4 {
  font-family: $header-font;
  @media screen and (max-width: 39.9375em) {
    font-size: 1.5rem;
  }
}

p {
  color: $gray;
}

.blog-post {
  margin-bottom: $vert-seperate;
  .button {
    padding: 0.85rem 3rem;
    background: $highlight;
    &:hover {
      background-color: darken($highlight, 5%);
      transition: color .3s ease-in;
    }
  }
  .individual-post {
    margin-bottom: $vert-seperate;
  }
  h4 {
    margin-bottom: 0;
    &:hover {
      text-decoration: underline;
      transition: color .3s ease-in;
    }
  }
  img {
    margin-bottom: 1.5rem;
  }
  .date {
    font-size: .8rem;
    color: $gray;
  }
}
