.md-tabs {
  background-color: #1779ba;
}

.md-tabs>.mobile-nav-bar {
  background-color: #1779ba;
  margin-bottom: 15px;
}

.md-tabs>.mobile-nav-bar .title-bar-text {
  font-size: 26px;
}

.md-tabs>.mobile-nav-bar a {
  color: #fefefe;
}

.md-tabs>.tabs {
  margin: 0;
  border: 0;
  background: #1779ba;
  list-style-type: none;
  display: table;
  width: 100%;
}

.md-tabs>.tabs>.tabs-title {
  display: table-cell;
  width: 25%;
  text-align: center;
}

.md-tabs>.tabs>.tabs-title {
  display: inline-block;
}

.md-tabs>.tabs>.tabs-title.is-active>a {
  color: #3adb76;
  background-color: transparent;
  outline: none;
}

.md-tabs>.tabs>.tabs-title>a {
  color: #fff;
  font-size: 16px;
}

.md-tabs>.tabs>.tabs-title>a:hover {
  background: transparent;
}

.md-tabs>.tabs>.tabs-title.is-active:nth-of-type(1)~.slide {
  left: calc((100% / 4) * 0);
}

.md-tabs>.tabs>.tabs-title.is-active:nth-of-type(2)~.slide {
  left: calc((100% / 4) * 1);
}

.md-tabs>.tabs>.tabs-title.is-active:nth-of-type(3)~.slide {
  left: calc((100% / 4) * 2);
}

.md-tabs>.tabs>.tabs-title.is-active:nth-of-type(4)~.slide {
  left: calc((100% / 4) * 3);
}

.slide {
  background: #3adb76;
  width: calc(100% / 4);
  height: 4px;
  position: relative;
  left: 0;
  top: 52px;
  transition: left 0.3s ease-out;
}

@include breakpoint(small only) {
  .slide {
    width: 0;
  }
  .md-tabs>.accordion {
    margin-left: 0;
    list-style-type: none;
  }
  .md-tabs>.accordion>.accordion-item>.accordion-title {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    border: 0;
    font-size: 0.75rem;
    line-height: 1;
    background: #1779ba;
    color: #fff;
  }
  .md-tabs>.accordion>.accordion-item>.accordion-title:hover, >.accordion>.accordion-item>.accordion-title:focus {
    background-color: #1779ba;
    color: #3adb76;
    outline: none;
  }
  .md-tabs>.accordion>.is-active.accordion-item>a.accordion-title {
    border-bottom: 4px solid #3adb76;
    color: #3adb76;
  }
  .md-tabs>.accordion>.accordion-item>.accordion-content {
    display: none;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-top: 0px;
    background-color: #fefefe;
    color: #0a0a0a;
  }
}
