.hover-wrapper {
  flex-direction: column;
  position: relative;
  display: flex;

  .card-imghover-overlay::after {
    content: 'See code';
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    font-size: rem-calc(41);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: calc(100% - #{$card-hover-link-height});
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 80;
    color: $dark-blue;
    opacity: 0;
    @include transition(opacity 0.2s ease-out);
    @include transition-delay( 0.25s);
  }

  &:hover .card-imghover-overlay::after {
    opacity: 1;
    @include transition(opacity 0.2s ease-out);
  }

  &:hover .card-hover-link {
    opacity: 1;
    @include transition(opacity 0.2s ease-out);
  }

  .card-hover-link {
    text-transform: capitalize;
    font-weight: $global-weight-bold;
    font-size: rem-calc(18);
    color: $dark-gray;
    height: $card-hover-link-height;
    width: 100%;
    background-color: $white;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 80;
    @include transition(opacity 0.2s ease-out);
    @include transition-delay( 0.25s);
  }
}
