$gray: #808080;
$white: #fff;
$highlight: #4ec6cd;
$nav-text-color: $gray;
$vert-seperate: 4rem;
$header-font:'Sanchez', serif;


h4 {
  font-family: $header-font;
  @media screen and (max-width: 39.9375em) {
    font-size: 1.5rem;
  }
}

p {
  color: $gray;
}

.featured-ins {
  background: lighten($gray, 40%);
  margin-bottom: $vert-seperate;
  padding: 1rem 1rem;

  .featured-ins-brands {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 39.9375em) {
      flex-wrap: wrap;
      width: 100%;
      }
    }

  .featured-ins-title {
    margin-bottom: 0;
  }

    @media screen and (max-width: 39.9375em) {
      .featured-ins-brands img {
        flex-basis: 40%;
        margin-bottom: 1rem;
      }

      .featured-ins-title {
        margin-bottom: 1rem;
      }
    }
}
