.hero-background {
  height: 700px;
  background-image: url(http://lorempixel.com/output/city-q-c-1200-700-9.jpg);
  background-size: cover;
  color: $white;
  padding: 40px 0;
  h1, p {
    color: $white;
  }
}
