body {
  padding-top: 3rem;
  text-align: center;
}

.like {
  border: 2px solid #afafaf;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #afafaf;
  transition: all ease 0.4s;
  span {
    margin-left: .5rem;
  }
  &:focus {
    background-color: transparent;
    .fa, span {
      color: #afafaf;
    }
  }
  &:hover {
    border-color: #e53d65;
    background-color: transparent;
    .fa, span {
      color: #e53d65;
    }
  }
}

.liked {
  background-color: #e53d65;
  border-color: #e53d65;
  .fa, span {
    color: white;
  }
  &:focus {
    background-color: #e53d65;
    .fa, span {
      color: white;
    }
  }
  &:hover {
    background-color: #e53d65;
    border-color: #e53d65;
    .fa, span {
      color: white;
    }
  }
}

.fa, span {
  transition: all ease 0.4s;
}
