body {
  padding-top: 3rem;
  background-color: #efefef;
  text-align: center;
}

.button {
  text-decoration: none;
  padding: 1rem;
  position: relative;
  display: inline-block;
  border-radius: .3rem;
  transition: all ease 0.4s;
}

.text {
  padding: 0 .5rem;
}

.badge {
  font-size: .8em;
  padding: .4rem;
}

.fi-mail {
  color: white;
  font-size: 1rem;
}
