/// Defaul card container bottom margin
/// @type Number
$card-user-container-margin-bottom: 1rem;

/// Default radius of the card
/// @type List
$card-user-container-radius: $global-radius;

///Default card background color
/// @type Color
$card-user-container-background: $white;

//// Default card color
/// @type Color
$card-user-container-color: $black;

.card-user-container {
  /// style for card inside nested grid ..
  .columns > &, .column > & {
    @include grid-column-row();
    float: none !important;

  }

  @mixin card-user-container(){
    margin-left: rem-calc(15);
    &:last-child {
      float: none !important;
    }
  }

  /// style for card that not inside nested grid
  @include breakpoint(small only){
    @include grid-row();
    @include grid-column($columns : 6);
    @include card-user-container();
  }
  @include breakpoint(medium only){
    @include grid-row();
    @include grid-column($columns : 4);
    @include card-user-container();
  }
  @include breakpoint(large){
    @include grid-row();
    @include grid-column($columns : 3);
    @include card-user-container();
  }
  @include breakpoint(xlarge){
    @include grid-row();
    @include grid-column($columns : 2);
    @include card-user-container();
  }

  margin-bottom: $card-user-container-margin-bottom;
  background-color: $card-user-container-background;
  color: $black;
  overflow: hidden;
  padding: 0 !important;
  border-radius: $card-user-container-radius;

  .card-user-avatar {
    .user-image {
      display: block;
      margin: auto;
      border-radius: 50%;
      width: rem-calc(190);
      height: rem-calc(190);
      padding: rem-calc(15);

      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .card-user-bio {
    padding: 1rem;
    text-align: center;

    .location {
      display: inline-block;
      margin: 0 rem-calc(15);
      color: #8a8a8a;
      font-size: rem-calc(14);
    }

    .location-icon, .location-text {
      display: inline-block;
      padding: 0 rem-calc(5);
    }
  }

  .card-user-social {
    background: #f2f2f2;
    padding: 1rem;
    text-align: center;

    ul {
      display: inline-block;

      li {
        margin: 0 10px;
        font-size: 1.2em;
        cursor: pointer;

        &:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }

  .card-user-button {
    text-align: center;
    padding: 1rem;
  }
}
