<div class="building-block-code">
  <!-- Code Menu -->
  <div class="flex-container align-center">
    <ul class="code-menu menu">
      <li class="code-menu-item">
        <a href="#">HTML</a>
      </li>
      <li class="code-menu-item">
        <a href="#">SCSS</a>
      </li>
      <li class="code-menu-item">
        <a href="#">JS</a>
      </li>
    </ul>
  </div>

  <!-- Code Preview -->
  <div class="code-preview">
    <div class="row expanded callout">
      <div class="small-4 columns callout">HTML goes in here</div>
      <div class="small-4 columns callout">SCSS goes in here</div>
      <div class="small-4 columns callout">JS goes in here</div>
    </div>
  </div>
</div>
