<div class="building-block-header">
  <div class="row align-middle">
    <div class="column">
      <h1 class="building-block-title">{{meta-title}} <small>By Nico Rosberg</small></h1>
      <img src="http://placehold.it/30x30" alt="">
      <img src="http://placehold.it/30x30" alt="">
      <img src="http://placehold.it/30x10" alt="" data-toggle="building-block-header-dropdown">

      <div class="dropdown-pane" id="building-block-header-dropdown" data-dropdown data-auto-focus="true">
        <strong>Foundation 6</strong>
        <p>6.3.1, 6.2.1, 6.1, 6.0</p>
        <strong>Foundation 6</strong>
        <p>6.3.1, 6.2.1, 6.1, 6.0</p>
      </div>

      <a href="#" class="building-block-tag">Tag 1</a>
      <a href="#" class="building-block-tag">Tag 2</a>
      <a href="#" class="building-block-tag">Tag 3</a>
    </div>
    <div class="column shrink">
      <div class="flex-container align-right">
        <a href="#"><img src="http://placehold.it/50x50" alt=""></a>
        <a href="#"><img src="http://placehold.it/50x50" alt=""></a>
      </div>
      <div class="flex-container align-right">
        <span>{{views}} Views	&#8226; {{likes}} Likes</span>
      </div>
    </div>
  </div>
</div>
