<div class="course-callout-card">
  <div class="card-center-section">
    <a class="course-callout-alert-link" href="http://zurb.com/university/courses" target="_blank"><img src="{{root}}assets/img/images/yeti-avatar.svg" class="" height="" width="" alt=""></a>
    <p class="course-callout-alert-header">Master Foundation</p>
    <p class="course-callout-alert-text">Get up to speed FAST, learn straight from the experts who built Foundation.</p>
    <a class="course-callout-alert-link" href="http://zurb.com/university/courses" target="_blank">LEARN MORE ›</a>
  </div>
</div>
