<div class="newsletter-signup" id="footer">
  <div class="row">
    <div class="small-12 medium-7 large-8 columns">
      <a href="http://foundation.zurb.com/learn/responsive-reading.html">
        <h5 class="hide-for-medium-only">Download ZURB’s 17 Responsive Trends That Will Shape 2017</h5>
        <p>Stay informed with amazing responsive trends each month from ZURB.</p>
      </a>
    </div>
    <div class="small-12 medium-5 large-4 footer-signup-form columns">
      <a style="margin-bottom: 0;" href="http://foundation.zurb.com/learn/responsive-reading.html" class="button expanded">Download the PDF</a>
    </div>
  </div>
</div>

<div class="zurb-footer-top bg-fblue">
  <div class="row property">
    <div class="small-12 medium-4 columns">
      <div class="property-info">
        <h3>Foundation</h3>
        <p>Foundation is the most advanced responsive front-end framework in the world. Foundation is made by <a href="http://zurb.com">ZURB</a>, a product design company in Campbell, CA. This framework is the result of building web products &amp; services since 1998.</p>
      </div>
    </div>

    <div class="small-12 medium-8 columns">
      <div class="row collapse">
        <div class="small-12 medium-4 columns">
          <div class="learn-links">
            <h4 class="hide-for-small">Want more?</h4>
            <ul>
              <li><a href="http://foundation.zurb.com/emails">Foundation for Emails</a></li>
              <li><a href="http://zurb.com/university/courses">Foundation Training</a></li>
              <li><a href="http://zurb.com/library">Design Resources</a></li>
            </ul>
          </div>
        </div>
          <div class="small-12 medium-4 columns">
            <div class="support-links">
            <h4 class="hide-for-small">Talk to us</h4>
            <p>Tweet us at <br> <a href="https://twitter.com/zurbfoundation">@ZURBfoundation</a></p>
            <p><a href="http://foundation.zurb.com/get-involved/contribute.html">Get involved in<br>our amazing community.</a></p>
            </div>
          </div>
        <div class="small-12 medium-4 columns">
          <div class="connect-links">
            <h4 class="hide-for-small">Stay Updated</h4>
            <p>Keep up with the latest on Foundation. Find us on <a href="https://github.com/zurb/foundation">Github</a>.</p>
            <a href="http://foundation.zurb.com/learn/foundation-insider.html" class="small button">Stay Connected</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="zurb-footer-bottom">
  <div class="row">
    <div class="small-12 medium-4 small-order-1 medium-order-2 columns">
      <ul class="home-social">
          <li><a href="http://www.youtube.com/ZURB" class="youtube"></a></li>
          <li><a href="http://www.twitter.com/ZURBfoundation" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
          <li><a href="http://zurb.com/contact" class="mail"></a></li>
        </ul>
     </div>
     <div class="small-12 medium-8 small-order-2 medium-order-1 columns">
        <a href="http://www.zurb.com" class="zurb-logo regular"></a>
        <ul class="zurb-links">
          <li><a href="http://zurb.com/about">About</a></li>
          <li><a href="http://zurb.com/blog">Blog</a></li>
          <li><a href="http://zurb.com/news">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
          <li><a href="http://zurb.com/contact">Contact</a></li>
          <li><a href="http://zurb.com/sitemap">Sitemap</a></li>
       </ul>
       <p class="copyright">&copy; 1998&dash;2017 ZURB, Inc. All rights reserved.</p>
    </div>
  </div>
</div>
