<header class="hero {{hero-class}}">
  <div class="hero-content">
    <div class="post-date">{{post-date}}</div>
    <h1 class="hero-header">{{title}}</h1>
    <h2 class="hero-subheader">{{subtitle}}</h2>
    <a href="#" class="button success">{{cta}}</a>
  </div>
</header>





















<!--
nav:
  -
    link: 'http://foo'
    text: Something
  -
    link: 'http://bar'
    text: Something else

<ul class="menu">
  {{#each nav}}
    <li><a href="{{link}}" target="_blank">{{text}}</a></li>
  {{/each}}
</ul> -->
