 <!--kit details section-->
 <div class="kit-details">

  <!--breadcrumbs-->
  <div class="row column">
    {{> bb-breadcrumbs kit=this}}
  </div>

  <!--kit details-->
  <div class="row">
    <!--summary-->
    <div class="columns kit-details-summary small-12 medium-expand">
      <h1 class="kit-card-header">{{#if name}}{{name}}{{else}}E-Commerce Kit{{/if}}</h1>
      <p class="kit-card-sub-header">{{#if description}}{{description}}{{else}}Get started building an e-commerce site with these components{{/if}}</p>

    </div>
    <div class="columns shrink">
      <button class="kit-card-primary blue" type="button" data-toggle="example-dropdown">download<div class="arrow-down white"></div></button>
      {{>kit-dropdown}}
      <div class="kit-card-link blue">
        <a class="kit-card-link-text blue" href="#">How do I use This?</a>
      </div>
    </div>

    <!--kit compoonent types-->
<!--     <div class="small-12 large-6 columns kit-details-bb">
      <div class="row">
        {{#blocks-by-category blocks}}
          <div class="small-4 column kit-card-bb">
            <img class="kit-card-bb-icon inject-me blue" src="{{@root.root}}assets/img/icons/filter-{{category}}.svg" alt="category icon">
            <ul class="kit-card-bb-list blue">
              {{#each blocks}}
                <li>{{name}}</li>
              {{/each}}
            </ul>
          </div>
        {{/blocks-by-category}}
      </div>
    </div> -->
  </div>
</div>
