 <!--kit details section-->
  <div class="kit-details">
    <!--breadcrumbs-->
    <div class="row column">
      {{> bb-breadcrumbs kit=this}}
    </div>
    <!--kit details-->
    <div class="row">
      <!--summary-->
      <div class="medium-6 columns">
        <h1>{{#if name}}{{name}}{{else}}E-Commerce Kit{{/if}}</h1>
        <p>{{#if description}}{{description}}{{else}}Get started building an e-commerce site with these components{{/if}}</p>

        <button class="button" type="button" data-toggle="example-dropdown">download<div class="arrow-down"></div></button>
        <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
          <h4>Install with Foundation CLI</h4>
          <div class="input-group">
            <input class="input-group-field" type="text" value="foundation kits install {{datakey}}">
            <div class="input-group-button">
              <input type="Copy" class="button" value="Copy">
            </div>
          </div>
          <p class="text-center">Download Zip</p>
        </div>
        <a href="#">How do I use This</a>
      </div>
      <!--kit compoonent types-->
      <div class="medium-6 columns">
        <div class="row">
        {{#blocks-by-category blocks}}
          <div class="small-4 column kit-card-bb">
            <img class="kit-card-bb-icon inject-me" src="{{@root.root}}assets/img/icons/filter-{{category}}.svg" alt="category icon">
            <ul class="kit-card-bb-list">
              {{#each blocks}}
                <li>{{name}}</li>
              {{/each}}
            </ul>
          </div>
        {{/blocks-by-category}}
        </div>
      </div>
    </div>
  </div>
