 <!--kit details section-->
 <div class="kit-details">
  <!--breadcrumbs-->
  <div class="row column">
    {{> bb-breadcrumbs}}
  </div>
  <!--kit details-->
  <div class="row">
    <!--summary-->
    <div class="small-12 large-6 columns kit-details-summary">
      <h1 class="kit-card-header">E-Commerce Kit</h1>
      <p class="kit-card-sub-header">This is a description of the kit</p>
      <button class="kit-card-primary blue" type="button" data-toggle="example-dropdown">download<div class="arrow-down white"></div></button>
      {{>kit-dropdown}}

      <div>
        <a class="kit-card-link-text blue" href="#">How do I use This?</a>
      </div>
    </div>
    <!--kit compoonent types-->
    <div class="small-12 large-6 columns kit-details-bb">
      <div class="row">
        {{#repeat 6}}
        <div class="small-4 column kit-card-bb">
          <img class="kit-card-bb-icon inject-me blue" src="{{root}}/assets/img/icons/filter-containers.svg" alt="category icon">
          <ul class="kit-card-bb-list blue">
            <li>Product Card</li>
            <li>Shopping Cart</li>
          </ul>
        </div>
      {{/repeat}}
      </div>
    </div>
  </div>
</div>