<div class="kit-card"{{#if background}}style="background:{{background}};"{{/if}}>
  <div class="row">
    <!--header and CTA-->
    <div class="kit-card-summary column small-12 medium-6">
      <h2 class="kit-card-header">{{#if name}}{{name}}{{else}}E-Commerce Kit{{/if}}</h2>
      <p class="kit-card-sub-header">{{#if short_description}}{{short_description}}{{else}}{{description}}{{/if}}</p>

      <button class="kit-card-primary" type="button" data-toggle="example-dropdown">Download <div class="arrow-down"></div></button>
      {{> kit-dropdown}}
      <a class="kit-card-secondary" href="{{href}}">See Details</a>
      <div class="kit-card-link">
      <a class="kit-card-link-text" href="#">How do I use this?</a>
      </div>
    </div>


    <!--kit card visual and hover effect-->
    <div class="kit-card-visual column small-12 medium-6">
      <img class="kit-card-visual-img" src="{{@root.root}}assets/img/{{#if images.card}}kits/{{datakey}}/{{images.card}}{{else}}images/kit-background-ex.png{{/if}}" alt="kit building blocks image">
      <!--icon row-->
<!--       <div class="kit-card-visual-hover">
        <div class="row">
          {{#blocks-by-category blocks}}
            <div class="small-6 column kit-card-bb">
              <img class="kit-card-bb-icon inject-me" src="{{root}}assets/img/icons/filter-{{category}}.svg" alt="category icon">
              <ul class="kit-card-bb-list">
                {{#each blocks}}
                  <li>{{name}}</li>
                {{/each}}
              </ul>
            </div>
          {{/blocks-by-category}}
        </div>
      </div> -->
    </div>
  </div>
</div>
