<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
  <div class="dropdown-foundation">
    <div class="dropdown-header">
      <p class="dropdown-title">Install with Foundation CLI</p>
      <a href="#"><img class="dropdown-help"src="{{root}}assets/img/icons/help.svg" alt=""></a>
    </div>
    <div class="input-group">
      <input class="input-group-field dropdown-input" type="text" placeholder="https://github.com/zurb/building-blocks.git">
      <div class="input-group-button">
        <input type="Copy" class="button dropdown-copy" value="Copy">
      </div>
    </div>
  </div>
  <a class="dropdown-download">Download Zip</a>
</div>