<div class="row expanded filter-nav align-spaced">
  <div class="column medium-2"></div>
  <div class="column medium-8 flex-container align-middle align-spaced bb-filter-icons-container">
    {{#each global.filter-nav}}
    <button class="filter-nav-button {{classes}}"><img src="{{img}}" class="inject-me bb-filter-icons" height="" title="{{title}}" width="" alt="{{alt}}"><span>{{title}}</span></button>
    {{/each}}
  </div>
  <div class="column medium-2 flex-container align-right">
    <button class="bb-search-button" data-toggle="bb-search-bar"><img src="{{root}}assets/img/icons/filter-search.svg" class="inject-me bb-search-icon" height="" title="Search Building Blocks" width="30" alt="Search icon"><span></span></button>
  </div>
</div>

<div class="row column bb-search-bar-container input-group" id="bb-search-bar" data-toggler data-animate="fade-in fade-out" data-closable>
  <input type="search" placeholder="Search for a building block..." class="bb-search-bar input-group-field">
  <button class="close-button" data-close>&times;</button>
</div>

<div class="row align-center dropdown-filters">
  <div class="medium-2 columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">All versions</a>
        <ul class="menu">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="medium-2 columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Sort by newest</a>
        <ul class="menu">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
