<ul class="master-pagination text-center" role="navigation" aria-label="Pagination">
  <li class="master-pagination-previous disabled"><img src="{{root}}assets/img/icons/pagination-previous.svg" alt="previous" class="inject-me master-pagination-icon"></li>
  <li class="master-pagination-current"><span class="show-for-sr">You're on page</span> 1</li>
  <li><a href="#" aria-label="Page 2">2</a></li>
  <li><a href="#" aria-label="Page 3">3</a></li>
  <li><a href="#" aria-label="Page 4">4</a></li>
  <li class=""><a href="#" aria-label="next page set"><img src="{{root}}assets/img/icons/pagination-ellipsis.svg" alt="" class="#"></a></li>
<!--   <li><a href="#" aria-label="Page 12">12</a></li>
  <li><a href="#" aria-label="Page 13">13</a></li>
 -->  
 <li class="master-pagination-next"><a href="#" aria-label="Next page"><img src="{{root}}assets/img/icons/pagination-next.svg" alt="" class="inject-me master-pagination-icon"></a></li>
</ul>