<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous disabled"><img src="{{root}}assets/img/icons/pagination-previous.svg" alt="previous" class="inject-me pagination-icon"></li>
  <li class="current bb"><span class="show-for-sr">You're on page</span> 1</li>
  <li><a href="#" aria-label="Page 2">2</a></li>
  <li><a href="#" aria-label="Page 3">3</a></li>
  <li><a href="#" aria-label="Page 4">4</a></li>
  <li><img src="{{root}}assets/img/icons/pagination-ellipsis.svg" alt="" aria-hidden="true"></li>
  <li><a href="#" aria-label="Page 12">12</a></li>
  <li><a href="#" aria-label="Page 13">13</a></li>

 <li class="pagination-next"><a href="#" aria-label="Next page"><img src="{{root}}assets/img/icons/pagination-next.svg" alt="" class="inject-me pagination-icon"></a></li>
</ul>
