


.wrap {max-width: 100%;
  width: 98%;
  margin: 0 auto;}

#footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(0);
  background-color: $dark-gray;


 #footer { @include grid-row();
	  color:$light-gray;
	  padding: rem-calc(60) 0;
	  a {color:$light-gray !important;}
	.footer-left {
		@include breakpoint(small) {display: table;
		@include hide-for-only(small);
		@include grid-column(12);	 
		}
		 @include breakpoint(large) {display: table; 
		 @include grid-column(3);
		 .baseline {display: table-cell;vertical-align: bottom}
		 .input-group {padding: 2rem 0 0 0 ;
			 input{ border-bottom: 2px solid $medium-gray; }
		 } 
		 
		}
		}
	
	
	.footer-center {text-align: left;
		@include breakpoint(small) {
		@include grid-column(12); 
		display: table;
		h2 {}
		}
	 @include breakpoint(large) {
      @include grid-column(4);
      @include grid-column-position(1);
      display: table;
     h2 {}
	}
	.baseline {display: table-cell;vertical-align: bottom;}
	.input-group {padding: 0.5rem 0 0 0 ;
			 input{ border-bottom: 2px solid $medium-gray; }
			 textarea{ border-bottom: 2px solid $medium-gray; }
	}
	}
	.footer-right {text-align: right;
		.fa {padding: 1rem 0 1rem 0.2rem;}
		@include breakpoint(small) {
		@include hide-for-only(small);
		@include grid-column(12); 
		display: table;
	}
	@include breakpoint(large) {
      @include grid-column(3);
      display: table;
	}
	.baseline {display: table-cell;vertical-align: bottom;}
	}
	h2 {color: $white;}
	p {font-size: 0.8rem;margin-bottom: 0;}
	
      }

      
      }
      
      
  