.three-up-feature {
  text-align: center;

  .three-up-feature-header {
    margin-bottom: 3rem;
  }

  .three-up-feature-image {
    margin-bottom: 2rem;
    border-radius: 50%;
  }

  .three-up-feature-text {
    margin-bottom: 2rem;
  }

  .three-up-feature-button {
    margin-bottom: 3rem;
  }
}
