body {background-color: grey;}
.menu-centered {
  background-color: #2C3840;
  .menu {
    a {
      color: #fefefe;
      padding: 1.2rem 1.5rem;
    }
    .underline_from_center {
      position: relative;
    }
    .underline_from_center::after {
      content: "";
      position: absolute;
      top: calc( 100% - .125rem );
      border-bottom: .125rem solid #fefefe;
      left: 50%;
      right: 50%;
      transition: all .5s;
    }
    .underline_from_center:hover::after {
      left: 0;
      right: 0;
      transition: all .5s;
    }
  }
}